<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Author</title>
</head>
<body>
Add User
<form action="/users/add" method="post" enctype="multipart/form-data">
    Name: <input type="text" name="name"/><br>
    Surname: <input type="text" name="surname"/><br>
    Email: <input type="email" name="email"/><br>
    User Type: <select name="userType">
    <option value="STUDENT">STUDENT</option>
    <option value="TEACHER">TEACHER</option>
    <input type="hidden">
</select><br>
  Lesson:  <select name="lesson.id">
        <option th:each="lesson: ${lessons}"
                th:value="${lesson.id}"
                th:text="${lesson.title}">
        </option>
    </select><br>
    image: <input type="file" name="image">
    <input type="submit" value="Add">
</form>
</body>
</html>