<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Lesson</title>
</head>
<body>
<form action="/lessons/add" method="post">
    Title <input type="text" name="title"><br>
    Duration <input type="number" name="duration"><br>
    Price <input type="number" name="price"><br>
    Start Date <input type="datetime-local" name="startDate"><br>
    Teacher:  <select name="user.id">
    <option th:each="user: ${users}"
            th:value="${user.id}"
            th:text="${user.name + ' ' + user.surname}">
    </option>
</select><br>
    <input type="submit" value="Add">
</form>
</body>
</html>