<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Lesson</title>
</head>
<body>
Add Lesson

<form action="/lessons/add" method="post">
    title: <input type="text" name="title"/> <br>
    duration: <input type="number" name="duration"/> <br>
    price: <input type="number" name="price"/> <br>
    start date: <input type="date" name="startDate"/><br>
    Teacher: <select name="user.id">
    <option th:each="user: ${users}"
            th:value="${user.id}"
            th:text="${user.name + ' ' + user.surname}">
    </option>
</select><br>
    <input type="submit" value="Add">
</form>
</body>
</html>