<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Lessons</title>
</head>
<body>
Lessons page
<a href="/lessons/add">Add lesson</a>
<table border="1">
  <tr>
    <th>id</th>
    <th>title</th>
    <th>duration</th>
    <th>price</th>
    <th>start date</th>
    <th>teacher name</th>
  </tr>

  <tr th:each="lesson : ${lessons}">
    <td th:text="${lesson.id}"></td>
    <td th:text="${lesson.title}"></td>
    <td th:text="${lesson.duration}"></td>
    <td th:text="${lesson.price}"></td>
    <td th:text="${#dates.format(lesson.startDate, 'dd-MM-yyyy HH:mm:ss')}"></td>

    <td>
      <ul>
        <li th:each="user: ${lesson.teacher}" th:if="${user.userType.name()=='TEACHER'}"
            th:text="${user.name}"></li>
      </ul>
    </td>

  </tr>
</table>
</body>
</html>